body {
    padding: 0;
    margin: 0;
}
/* Nav Start */
nav {
    width: 100%;border-bottom: 2px solid;
}

.navbar {
    width: 100%;
    background: rgb(224, 207, 18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 25px;
    position: left;
    top: 0;
    z-index: 999;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(224, 207, 18);

}

ul li {
  float: right;
}

.logo img {
    height: 45px;
}



.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    border: 1px solid black;
    padding: 10px 20px;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


ul li a:hover {
  background-color: #ee0b0b;
}
/* Nav End */

/* homepage start */
#homepage{
    border-bottom: 2px solid black;
    padding: 10px;
}

#homepage h1 {

}

img {
 border-style: solid;
 border-width: 2px;
 border-color: yellow;
 border-radius: 12px;
 display: block;
 margin-inline: auto;
}
/* homepage end */

#about {
    border-bottom: 2px solid black;
}

/* headquarters start */
#about .head-wrap{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#about .head-wrap .China{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about .head-wrap .China img{
    width: 180px;
    height: 120px;
    margin-inline: 20px;
    padding: 0;
}

#about .head-wrap .China h4{
    margin-inline: auto;
    padding: 0;
}

#about .head-wrap .Philippines{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about .head-wrap .Philippines img{
    width: 180px;
    height: 120px;
    margin-inline: 20px;
}

#about .head-wrap .Philippines h4{
    margin-inline: auto;
    padding: 0;
}

#about .head-wrap .Vietnam{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about .head-wrap .Vietnam img{
    width: 180px;
    height: 120px;
    margin-inline: 20px;
}

#about .head-wrap .Vietnam h4{
    margin-inline: auto;
    padding: 0;
}
/* head quarters end */

/* messages start */
/* message end */